<!DOCTYPE html>
%html
  %head
    :css
      body {
        font-family: Helvetica;
        margin: 0;
        padding: 0;
      }

      table{
        border-collapse:collapse;
        border-spacing:0;
        page-break-after:always !important;
        margin: 0;
        padding: 0;
      }

      td {
        border: 1px solid black;
        width: 1.7in;
        height: 1.55in;
        padding: 0.15in;
        position: relative;
        vertical-align: top;
        margin: 0;
      }

      .cardname {
        position: relative;
        overflow: hidden;
        height: 1.39in;
        width: 1.70in;
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
      }

      .gamename {
        height: 25px;
        position: relative;
        top: 4px;
      }

      .gamename .text {
        font-size: 8px;
      }

      .gamename img {
        width: 25px;
        position: relative;
        top: 0.05in;
      }

      .set:nth-child(2) table {
        background-color: black;
        color: white;
        border: 1px solid white;
      }

      .set:nth-child(2) table td {
        border: 1px solid white;
      }

      .pick {
        font-weight: bold;
        font-size: 14px;
        float: right;
        position: relative;
        top: 5px;
      }

      .pick .num {
        background-color: white;
        color: black;
        border-radius: 22px;
        height: 22px;
        display: inline-block;
        padding: 0 6px;
      }

      .line {
        width: 100px;
        display: inline-block;
        border-bottom: 1px solid white;
        margin-top: 18px;
        margin-bottom: 0px;
      }

  %body

    - cards.each do |set|
      .set
        - set.each do |page|
          %table
            %tbody
              - page.each do |row|
                %tr
                  - row.each do |card|
                    %td
                      .cardname
                        = card[:text]
                      - if card[:blanks] > 1
                        .pick
                          PICK
                          %span.num= card[:blanks]
                        .gamename
                          %img{src: "http://i.imgur.com/0TeCujw.png"}
                          %span.text= abbr
                      - else
                        .gamename
                          %img{src: "http://i.imgur.com/0TeCujw.png"}
                          %span.text= gamename
