<!DOCTYPE html>
%html
  %head
    %title Heroku Sinatra Boilerplate

    :css
      .cards {
        height: 500px;
        width: 250px;
      }

  %body

    %h2 Welcome to Sean's super simple custom Cards Against Humanity generator that looks like shit but gets the job done but only for white cards

    %form{method: "POST", action: "/cards.pdf"}
      %h3 What's the name of your game?
      %input{name: "gamename", class: "gamename"}
      %h3 Paste in your white cards.
      %textarea{name: "cards", class: "cards"}
      %input{type: "submit", value: "Get the cards!"}