body {
  font-family: sans-serif;
}

.cards {
  height: 200px;
  width: 250px;
}

.top {
  background-color: black;
  color: white;
  height: 50px;
  border-bottom: 5px solid #CCC;
  text-align: center;
  padding: 15px 0;
}

.top h1 {
  font-size: 33px;
  text-transform: uppercase;
}

.top h2 {
  text-transform: uppercase;
  color: #AAA;
}

.left {
  float: left;
}

.set:nth-child(2) table {
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;
}

.set:nth-child(2) table td {
  border: 1px solid black !important;
}

.set:nth-child(3) table {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.set:nth-child(3) table td {
  border: 1px solid white;
}

.placeholder {
  color: #AAA;
}

.right {
  float: right;
  height: 300px;
  overflow: scroll;
  margin: 10px;
  padding: 10px;
  -webkit-box-shadow: 1px 0px 23px rgba(0, 0, 0, 0.84);
  -moz-box-shadow:    1px 0px 23px rgba(0, 0, 0, 0.84);
  box-shadow:         1px 0px 23px rgba(0, 0, 0, 0.84);
}

.right table {
  margin-bottom: 20px;
}